{%extends 'core/base.html'%}

{%block title%}
    {{client.name}}
{%endblock%}
{%block content%}

<div class="py-4 px-2 ">
    <h1 class="mb-2 text-xl">{{client.name}}</h1>
    {%if client.description%}
        <p class="font-semibold">Description</p>
        <p class="mb-2">{{client.description}}</p>
    {%endif%}
    <p class="font-semibold">Email</p>
    <p class="mb-2">{{client.email}}</p>
    <p class="font-semibold">Create by</p>
    <p class="mb-2">{{client.create_by}}</p>
    <p class="font-semibold">Create at</p>
    <p class="mb-2">{{client.create_at|date:"M-d-Y H:i"}}</p>
</div>

<hr class="my-4">
    <a href="{%url 'clients_list'%}" class="py-4 px-2 rounded-xl text-white bg-purple-500">Clients list</a>
    <a href="{%url 'clients_edit' client.id%}" class="py-4 px-2 rounded-xl text-white bg-purple-500">Edit</a>
    <a href="{%url 'clients_delete' client.id%}" class="py-4 px-2 rounded-xl text-white bg-red-700">Delete</a>
<hr class="my-4">
{%endblock%}